*{
    font-family: Verdana;
}

body{
    text-align: center;
}

.error{
    font-weight: bolder;
}
.rojo{
    color: red;
}
.verde{
    color: limegreen;
}

.boton{
    text-decoration: none;
    text-transform: uppercase;
    
    color: black;
    padding: 0.75rem;
    
    background-color: beige;
    border-radius: 1.5rem;
    border: 1px solid black;
}

.boton:hover{
    color: blue;
}

.admin{
    text-decoration: none;
    text-transform: uppercase;
    
    color: gold;
    padding: 0.25rem;
    
    background-color: black;
    border-radius: 1.5rem;
    border: 1px solid gold;
}

.admin:hover{
    color: black;
    background-color: gold;
    border: 1px solid black;
}